* {
  margin: 0;
  padding: 0;
}

body{
    font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid black;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}
.navbar__s1__title{
  color: #a435f0;
}
.navbar__s2{
  border: 1px solid black;
  border-radius: 30px;
  padding: 10px;
  width: 60%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.navbar__s2 input{
  width: 100%;
  border: none;
  font-size: 16px;
  background-color: transparent;
}
.navbar__s2 input:focus{
  outline: none;
}
.navbar__s3{
  display: flex;
  gap: 10px;
}

 /* My Learning Popup*/

 .mylearning {
  position: relative;
  cursor: pointer;
 }

 .mylearning__popup{
  position: absolute;
  background-color: white;
  border: 1px solid black;
  width: 100px;
  top: 150%;
  padding: 20px;
  right: 0;
  display: none;
 }
 .mylearning:hover .mylearning__popup {
  display: block;
 }
.categories{
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.categories p{
  background-color: #a435f0;
  color: white;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #a435f0;
}
.categories p:hover {
  background-color: transparent;
  color: black;
  transition: 1s;
  cursor: pointer;
  border: 1px solid #a435f0;
}
.sale-image {
  position: relative;
}
.sale-image img{
  width: 100%;
}
.recommended__container{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;


}
.course-card{
  width: 300px;
}
.course-card img{
  height: 50%;
  width: 100%;
}
.topics{
  padding: 10px;
}
.topics__container{
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
}
.topics__container p{
  border: 2px gray solid;
  flex-grow: 1;
  padding: 10px;
  flex-basis: 25%;
}

.popular{
  padding: 10px;
} 
.popular__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}
.footer{
  padding: 30px;
  background-color: black;
  color: white;
}
.footer__one {
  display: flex;
  gap: 10px;
}
.footer__one p{
  margin: 20px;
}
.footer__two{
  display: flex;
  justify-content: space-between;
}

.sale-mage__offerbox {
  background-color: white;
  width: 300px;
  padding: 20px;
  position: absolute;
  left: 200px;
  top: 150px;
  animation-name: zoom;
  animation-duration: 2s;
  opacity: 0;
  animation-fill-mode: forwards;
}
@keyframes zoom {
  0%{
    transform: scale(0);
    opacity: 0;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}
